<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <title>Ordered Ticket - Confirmation</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }

        table {
            width: 100%;
        }

        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }
    </style>

</head>
<body>
<section>
    <header>
        <h1>Movie Order page - Order confirmation </h1>
    </header>
    <!--    dopolnitelno baranje labs2-->
    <!--    filtriranje na ticket orders po ime na klient-->
    <div class="container mb-4">
        <form method="GET" action="/ticketOrder">
            <div class="row">
                <div class="col-10 form-group">
                    <label>Filter orders by client name</label>
                    <select name="clientName" class="form-control mb-0">
                        <option value="" disabled selected>Select Client</option>
                        <option th:each="clientName : ${clients}"
                                th:text="${clientName}"
                                th:value="${clientName}">
                        </option>
                    </select>
                </div>
                <button id="filterButton" name="filterButton" type="submit"
                        class="col-2 btn btn-primary mb-0 mt-auto">Filter
                </button>
            </div>
        </form>
    </div>

    <div class="container mb-4 form-group">
        <form action="/ticketOrder/filteredByDate" method="get">
            <div class="row">
                <div class="col-5">
                    <label for="from">From:</label>
                    <input type="datetime-local" id="from" name="from"/>
                </div>
                <div class="col-5">
                    <label for="to">To:</label>
                    <input type="datetime-local" id="to" name="to"/>
                </div>
                <button type="submit" class="col-2 btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="centre">Client Name</th>
                        <!--                        <th class="centre">Client IP Address</th>-->
                        <th class="centre">Movie Title</th>
                        <th class="centre">Number of tickets</th>
                        <th class="centre">Production</th>
                        <th class="centre">Ticket Order Date Created</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${allOrders}">
                        <td th:text="${order.getUser().getUsername()}"></td>
                        <!--                        <td th:text="${order.getClientAddress()}"></td>-->
                        <td th:text="${order.getMovie().getTitle()}"></td>
                        <td th:text="${order.getNumberOfTickets()}"></td>
                        <td th:text="${order.getMovie().getProduction().getName()}"></td>
                        <!--                        <td th:text="${#temporals.format(order.getShoppingCart().getDateCreated(), 'dd-MM-yyyy HH:mm')}"></td>-->

                        <td th:text="${order.getDateCreated()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="container mb-4 ">
                <div class="row">
                    <div class="col-12">
                    <a href="/movies" class=" col-2 btn btn-block btn-dark add-product-btn">
                        Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    dopolnitelno baranje labs1-->
    <!--    da se najde filmot shto e najnaracuvan (ima najmnogu prodadeni karti)-->
    <h2>Most ordered movie:
        <p th:text="${movieTitle + ' with ' + numTickets + (numTickets == 1 ? ' ticket' : ' tickets')}"></p>
    </h2>
</section>
</body>
</html>